.epoch-modal {
    background-color:#d3d3d3 !important;
    text-align: center !important;
}

#epoch-comments {font-size: 95% !important; line-height: inherit !important; margin-top: 30px !important;}
#epoch-commenting {margin-bottom: 25px;}

#epoch-wrap {
	margin: 0 auto !important;
}

.epoch-comment-author.vcard {
}

.comment-count-area a {
	float: right !important; 
	display: block !important;
	font-size: 75% !important;
	text-decoration: underline !important; 
}

a.comment-reply-link { 
	background: none !important;
	border: none !important;
	color: gray !important;
	padding: 0 !important; 
	font-size: 100% !important; 
	float: none !important;
	margin: 0 !important;
	line-height: normal !important; 
	display: inline !important;
} 

.epoch-comment-author-avatar img {
	width: 48px !important; 
	height: 48px !important; 
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	float: left !important;
	margin-right: 12px !important; 
	padding: 0 !important;
	border: none !important;
}

.epoch-child .epoch-comment-author-avatar img {
	width: 42px !important;
	height: 42px !important;
}

.epoch-child div.epoch-comment-content, .epoch-child ul.epoch-comment-actions {
	margin-left: 55px !important;
}



#epoch-comments a.epoch-author-link { 
	font-weight: bold !important;
	line-height: normal !important;
}

#epoch-comments a.epoch-comment-link {
	font-size: 90% !important;
	color: #aaa !important;
	font-weight: normal !important;
}

.epoch-comment-meta {
	line-height: normal !important;
}

.epoch-comment-meta a {
	text-decoration: none !important;
}

div.epoch-comment-content {
	margin-left: 60px !important;
}

div.epoch-comment-content p {
	margin-bottom: 10px !important;
}

div.epoch-comment-content p:last-child {
	margin-bottom: 0 !important;
}

article.epoch-comment-body {
	margin: 0 0 25px 0 !important;
	border: none !important;
	padding: 0 !important;
}

article.bypostauthor {
    padding: 15px 15px 10px 15px !important;
    background: url(../../../assets/image/et.png) !important;
    margin-left: -15px !important;
}

.epoch-child {
    margin-left: 60px !important;
}

.epoch-child.level-2 {
}


ul.epoch-comment-actions {
	margin-left: 60px !important;
	padding: 0 !important
}

ul.epoch-comment-actions li {
	list-style: none !important;
	display: inline !important;
	font-size: 75% !important;
	margin: 0 !important;
	padding: 0 !important;
}

ul.epoch-comment-actions li a {
	color: #aaa !important;
}
 
article.epoch-single-comment {
   background-color:transparent !important;
    -moz-transition:background-color 4s !important;
    -webkit-transition:background-color 4s !important;
    -o-transition:background-color 4s !important;
    transition:background-color 4s !important;
    border: none !important;
    box-shadow: none !important;
}
article.epoch-single-comment.epoch-success {
    background-color: #FFFEDB !important;
 }

.epoch-failure {
    color: #c0392b !important;
    font-weight: bold;
}

article.epoch-single-comment.epoch-wrap-comment-awaiting-moderation .epoch-comment-author {
	background: url(../../../assets/image/em.png) center right no-repeat !important;
	background-size: 15px !important;
	padding-right: 30px !important;
}


article.epoch-single-comment.epoch-wrap-comment-awaiting-moderation {
	opacity: 0.8 !important;
}

body.logged-in article.epoch-single-comment.epoch-wrap-comment-awaiting-moderation:hover {
   opacity: 1 !important;
}


#epoch-comments .comment-notes {
	font-size: 90% !important;
}

#prompt-comment-subscribe {
	margin: 10px 0 !important;
	float: none !important;
	display: block !important;
}

#prompt-comment-subscribe input {
	width: 12px !important;
}
 
/*inline reply interface*/

#epoch-comments #reply-title {
	display: none !important;
}

.epoch-child div.comment-respond, #epoch-comments #respond {
	margin-left: 55px !important;
	font-size: 85% !important;
	line-height: normal !important; 
	margin-bottom: 35px !important;
}

#epoch-comments p.comment-form-author {
	clear: left !important;
}


#epoch-comments div.comment-respond p.comment-form-author,#epoch-comments div.comment-respond p.comment-form-email,#epoch-comments div.comment-respond p.comment-form-url {
	float: left !important;
	width: 32% !important;
	margin: 0 1% 15px 0 !important;
	padding: 0 !important;
}

#epoch-comments div.comment-respond p.comment-form-url {
	margin-right: 0 !important;
}



.comment-form-author input,.comment-form-url input,.comment-form-email input {
	width: 96% !important;
	margin-bottom: 15px !important;
	padding: 5px !important;
	background: #fff !important;
	border: 1px solid #ddd !important;
	color: #383838 !important;
}

.comment-form-url input {
	width:100% !important;
}

#epoch-comments div.comment-respond p.comment-form-comment {
	clear: left !important;
	width: auto !important;
	margin: 0 0 10px 0 !important;
	padding: 0px !important;
	width: 98% !important;
}

#epoch-comments textarea, textarea#comment {
	color: #383838 !important;
	background: #fff !important;
	width: 100% !important;
	border: 1px solid #ddd !important;
}


#epoch-comments p.logged-in-as {
	float: right !important;
	font-size: 85% !important;
}

#epoch-comments #comment {
	min-height: 100px !important;
}

#epoch-comments div.comment-respond p.comment-notes {
	margin-bottom: 10px !important;
	text-align: left !important;
} 

#epoch-comments p.form-submit {
	padding: 0 !important;
	margin: 0 !important;
}

#epoch-comments p.form-submit input {
	margin: 0 !important;
}

#epoch-comments input#submit:disabled {
	color: #ABABAB !important;
	background: #F5F5F5 !important;
	cursor: not-allowed !important;
}

#epoch-comments input#submit:disabled:hover {
	cursor: not-allowed !important;
}

/*New top level comment form*/

#commentform p.comment-form-author,#commentform p.comment-form-email,#commentform p.comment-form-url {
	float: left !important;
	width: 32% !important;
	margin: 0 1% 15px 0 !important;
	padding: 0 !important;
}

#commentform p.comment-form-url {
	margin:0 0 15px 0px !important;
	width: 34% !important;
}


/*Crowd Control*/

.pmcc-comments-report-link {display: none !important;}

.epoch-single-comment:hover .pmcc-comments-report-link {
	display: block !important;
}


@media only screen and (max-width : 620px) {

/*Crowd Control*/

.pmcc-comments-report-link {display: block !important;}

.epoch-comment-author-avatar img {
	width: 24px !important; 
	height: 24px !important;
	margin-right: 10px !important;
}
div.epoch-comment-content { 
	margin-left: 34px !important;
}

ul.epoch-comment-actions {
	margin-left: 33px !important;
}

.epoch-child { 
    margin-left: 0 !important;
    border-left: 1px solid #ddd !important;
    padding-left: 10px !important;
    font-size: 95%
} 

.epoch-child .epoch-comment-author-avatar img {
	width: 24px !important;
	height: 24px !important;
}


#epoch-comments div.comment-respond p.comment-form-author,#epoch-comments div.comment-respond p.comment-form-email,#commentform p.comment-form-author,#commentform p.comment-form-email {
	float: left !important;
	width: 49% !important;
	margin-right: 1% !important; 
	margin-bottom: 0 !important;
}

#epoch-comments div.comment-respond p.comment-form-email {
	margin-right: 0 !important;
	width: 50% !important;
}

#epoch-comments div.comment-respond p.comment-form-url {
	padding-top: 5px !important;
}

.comment-form-author input,.comment-form-url input,.comment-form-email input {
	width: 100% !important;
	margin-bottom: 0 !important;
	padding: 10px 5px !important;
}

#epoch-comments div.comment-respond p.comment-form-url, .comment-form-url input {
	width:100% !important;
}



#epoch-comments div.comment-respond p.comment-form-comment, #epoch-comments div.comment-respond p.comment-form-url, #epoch-comments div.comment-respond p.comment-form-url input,#commentform p.comment-form-url {
	width: 100% !important;
}

.epoch-child div.comment-respond, #epoch-comments #respond {
	margin-left: 25px !important;
    border-left: 1px solid #ddd !important;
    padding-left: 10px !important;
}

.epoch-child div.epoch-comment-content, .epoch-child ul.epoch-comment-actions {
	margin-left: 35px !important;
}


}

@media only screen and (max-width : 550px) {
#wmd-button-barcomment,#wmd-previewcomment {display: none !important;}
}

/*wordpress social login*/

.wp-social-login-widget {
	background: #eee;
	border: 1px solid #ddd;
	width: 100%; 
	padding: 5px 10px !important;
	margin-bottom: 10px;
}

.wp-social-login-connect-with {
	float: left;
	font-size: 85%;
	margin-top: 3px;
	margin-right: 10px;
}

.wp-social-login-provider-list a {
	margin-right: 5px;
}

.wp-social-login-provider-list {
	padding: 0;
}

.wp-social-login-provider-list img {
	width: 20px;
	height: 20px;
}

/*WordPress Markdown*/
div#wmd-button-barcomment {
  clear: both !important;
  padding-bottom: 5px !important;
  filter: grayscale (100%);
}

.wmd-preview {
	padding: 10px !important;
	margin: 10px 0 !important;
	width: 100% !important;
	min-height: 30px !important;
}


/*basic comment quicktags*/

#qt_comment_toolbar {
	padding: 0;
	background: none;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	border: none;
}


/*get rid of box shadows*/
 input:required,textarea:required {box-shadow: none !important;}
 
 /*moderation tools*/
 
 
.safe-comments-report-link {
}

ul.epoch-comment-actions li .safe-comments-report-link {
	float: right;
	margin-right: 15px;
	color: #6B3131 !important;
}

ul.epoch-comment-actions li .safe-comments-report-link a {
	color: #6B3131 !important;
}

.bypostauthor .safe-comments-report-link, .epoch-wrap-comment-awaiting-moderation .safe-comments-report-link {
	display: none;
}

ul.epoch-moderation-actions {padding: 5px 0 0 0 !important; margin: 0 !important;float: right;}

ul.epoch-moderation-actions li {
  list-style:none !important;
  float: left !important;
  margin-right: 5px !important;
  font: 13px sans-serif !important;
}

ul.epoch-moderation-actions li a {
  display: block !important;
  padding: 5px !important;
  text-decoration: none !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}


ul.epoch-moderation-actions li.epoch-approve a {
  color: #27ae60 !important;
}

ul.epoch-moderation-actions li.epoch-approve a:hover {
	background: #27ae60 !important;
	color: white !important;
}

ul.epoch-moderation-actions li.epoch-trash a {
  color: #f39c12 !important;
}

ul.epoch-moderation-actions li.epoch-trash a:hover {
	background: #f39c12 !important;
	color: white !important;
}

ul.epoch-moderation-actions li.epoch-spam a {
  color: #c0392b !important;
}

ul.epoch-moderation-actions li.epoch-spam a:hover {
	background: #c0392b !important;
	color: white !important;
}

/*support for rating system by vortex themes*/
.vortex-align-right {
    height: 0;
}

/**Loading Spinner**/
/**Based on http://codepen.io/mohammadmusaei/pen/mglEi **/
#epoch-loading {
	display: block;
	position: absolute;
	margin: 30px 0 0 100px;
	width: 80px;
	height: 80px;
	margin-bottom: 250px;
}

#epoch-loading::after{
	clear:both;
}

#epoch-loading #innerCircle, #epoch-loading #outerCircle1 {
	left: 50%;
}

#epoch-loading #innerCircle {
	display: block;
	position: absolute;
	margin: 20px 0 0 20px;

	width: 40px;
	height: 40px;
	border-top: 7px solid #06F;
	border-bottom: 7px solid #06F;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;

	border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	box-shadow: 0 0 20px #06F;
	-webkit-box-shadow: 0 0 20px #06F;
	-moz-box-shadow: 0 0 20px #06F;
	-ms-box-shadow: 0 0 20px #06F;
	-o-box-shadow: 0 0 20px #06F;

	-webkit-animation: ccwSpin .555s linear .2s infinite;
	-moz-animation: ccwSpin .555s linear .2s infinite;
	-o-animation: ccwSpin .555s linear .2s infinite;
	-ms-animation: ccwSpin .555s linear .2s infinite;
	animation: ccwSpin .555s linear .2s infinite;
}

#epoch-loading #outerCircle1 #center {
	display: block;
	margin: 5px 0 0 5px;

	width: 30px;
	height: 30px;

	background-color: #06F;

	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

#epoch-loading #outerCircle1 {
	display: block;
	position: absolute;
	margin: 0 auto;

	width: 80px;
	height: 80px;
	border-top: 7px solid #06F;
	border-bottom: 7px solid transparent;
	border-left: 7px solid transparent;
	border-right: 7px solid 06 F;

	border-radius: 80px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	-ms-border-radius: 80px;
	-o-border-radius: 80px;

	-webkit-animation: cwSpin 1s linear .2s infinite;
	-moz-animation: cwSpin .666s linear .2s infinite;
	-o-animation: cwSpin .666s linear .2s infinite;
	-ms-animation: cwSpin .666s linear .2s infinite;
	animation: cwSpin .666s linear .2s infinite;
}

#epoch-loading #innerCircle {

	border-top: 7px solid transparent;
	border-bottom: 7px solid #06F;
	border-left: 7px solid #06F;
	border-right: 7px solid transparent;

	box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
}

@-webkit-keyframes cwSpin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cwSpin {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-ms-keyframes cwSpin {
	0% {
		-ms-transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-o-keyframes cwSpin {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(360deg);
	}
}

@keyframes cwSpin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes ccwSpin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}

@-moz-keyframes ccwSpin {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(-360deg);
	}
}

@-ms-keyframes ccwSpin {
	0% {
		-ms-transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(-360deg);
	}
}

@-o-keyframes ccwSpin {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(-360deg);
	}
}

@keyframes ccwSpin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: .3;
		filter: alpha(opacity=30);
	}
	50% {
		opacity: .5;
		filter: alpha(opacity=50);
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

@-moz-keyframes blink {
	0% {
		opacity: .3;
		filter: alpha(opacity=30);
	}
	50% {
		opacity: .5;
		filter: alpha(opacity=50);
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

@-o-keyframes blink {
	0% {
		opacity: .3;
		filter: alpha(opacity=30);
	}
	50% {
		opacity: .5;
		filter: alpha(opacity=50);
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

@-ms-keyframes blink {
	0% {
		opacity: .3;
		filter: alpha(opacity=30);
	}
	50% {
		opacity: .5;
		filter: alpha(opacity=50);
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

@keyframes blink {
	0% {
		opacity: .3;
		filter: alpha(opacity=30);
	}
	50% {
		opacity: .5;
		filter: alpha(opacity=50);
	}
	100% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

@-webkit-keyframes textShine {
	0% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #333,
		2px 2px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333;
	}
	35% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #444, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444;
	}
	65% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #06F,
		2px 2px 0 #06F, 3px 3px 0 #06F, 4px 4px 0 #06F, 5px 5px 0 #06F;
	}
	85% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #444, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444;
	}
	100% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333;
	}
}

@keyframes textShine {
	0% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #333,
		2px 2px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333;
	}
	35% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #444, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444;
	}
	65% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #06F,
		2px 2px 0 #06F, 3px 3px 0 #06F, 4px 4px 0 #06F, 5px 5px 0 #06F;
	}
	85% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #444, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444;
	}
	100% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333;
	}
}

@-moz-keyframes textShine {
	0% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #333,
		2px 2px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333;
	}
	35% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #444, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444;
	}
	65% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #06F,
		2px 2px 0 #06F, 3px 3px 0 #06F, 4px 4px 0 #06F, 5px 5px 0 #06F;
	}
	85% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #444, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444;
	}
	100% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333;
	}
}

@-ms-keyframes textShine {
	0% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #333,
		2px 2px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333;
	}
	35% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #444, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444;
	}
	65% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #06F,
		2px 2px 0 #06F, 3px 3px 0 #06F, 4px 4px 0 #06F, 5px 5px 0 #06F;
	}
	85% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #444, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444;
	}
	100% {
		text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333;
	}
}

@-o-keyframes textShine {
	0% {
		-o-text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #333,
		2px 2px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333;
	}
	35% {
		-o-text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #444, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444;
	}
	65% {
		-o-text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #06F,
		2px 2px 0 #06F, 3px 3px 0 #06F, 4px 4px 0 #06F, 5px 5px 0 #06F;
	}
	85% {
		-o-text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #444, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444;
	}
	100% {
		-o-text-shadow: -2px -2px 1px #232323, -1px -1px 1px #232323, 1px 1px 1px #444,
		2px 2px 0 #333, 3px 3px 0 #333, 4px 4px 0 #333, 5px 5px 0 #333;
	}
}

@-webkit-keyframes bounce {

	0% {
		margin-top: 5px;
	}
	5% {
		margin-top: 10px;
	}
	10% {
		margin-top: 20px;
	}
	15% {
		margin-top: 30px;
	}
	20% {
		margin-top: 40px;
	}
	25% {
		margin-top: 50px;
	}
	30% {
		margin-top: 60px;
	}
	35% {
		margin-top: 70px;
	}
	40% {
		margin-top: 80px;
	}
	45% {
		margin-top: 90px;
		-webkit-transform: scaleX(1.1);
	}
	50% {
		margin-top: 100px;
		-webkit-transform: scaleX(1.6);
	}
	55% {
		margin-top: 90px;
		-webkit-transform: scaleY(0.5);
	}
	60% {
		margin-top: 80px;
		-webkit-transform: scaleX(0.6);
	}
	65% {
		margin-top: 70px;
		-webkit-transform: scaleX(0.7);
	}
	70% {
		margin-top: 60px;
		-webkit-transform: scaleX(0.8);
	}
	75% {
		margin-top: 50px;
		-webkit-transform: scaleX(0.9);
	}
	80% {
		margin-top: 40px;
		-webkit-transform: scaleX(1);
	}
	85% {
		margin-top: 30px;
	}
	90% {
		margin-top: 20px;
	}
	95% {
		margin-top: 10px;
	}
	100% {
		margin-top: 5px;
	}
}

@-moz-keyframes bounce {
	0% {
		margin-top: 5px;
	}
	5% {
		margin-top: 10px;
	}
	10% {
		margin-top: 20px;
	}
	15% {
		margin-top: 30px;
	}
	20% {
		margin-top: 40px;
	}
	25% {
		margin-top: 50px;
	}
	30% {
		margin-top: 60px;
	}
	35% {
		margin-top: 70px;
	}
	40% {
		margin-top: 80px;
	}
	45% {
		margin-top: 90px;
		-moz-transform: scaleX(1.1);
	}
	50% {
		margin-top: 100px;
		-moz-transform: scaleX(1.6);
	}
	55% {
		margin-top: 90px;
		-moz-transform: scaleY(0.5);
	}
	60% {
		margin-top: 80px;
		-moz-transform: scaleX(0.6);
	}
	65% {
		margin-top: 70px;
		-moz-transform: scaleX(0.7);
	}
	70% {
		margin-top: 60px;
		-moz-transform: scaleX(0.8);
	}
	75% {
		margin-top: 50px;
		-moz-transform: scaleX(0.9);
	}
	80% {
		margin-top: 40px;
		-moz-transform: scaleX(1);
	}
	85% {
		margin-top: 30px;
	}
	90% {
		margin-top: 20px;
	}
	95% {
		margin-top: 10px;
	}
	100% {
		margin-top: 5px;
	}
}

@-o-keyframes bounce {
	0% {
		margin-top: 5px;
	}
	5% {
		margin-top: 10px;
	}
	10% {
		margin-top: 20px;
	}
	15% {
		margin-top: 30px;
	}
	20% {
		margin-top: 40px;
	}
	25% {
		margin-top: 50px;
	}
	30% {
		margin-top: 60px;
	}
	35% {
		margin-top: 70px;
	}
	40% {
		margin-top: 80px;
	}
	45% {
		margin-top: 90px;
		-o-transform: scaleX(1.1);
	}
	50% {
		margin-top: 100px;
		-o-transform: scaleX(1.6);
	}
	55% {
		margin-top: 90px;
		-o-transform: scaleY(0.5);
	}
	60% {
		margin-top: 80px;
		-o-transform: scaleX(0.6);
	}
	65% {
		margin-top: 70px;
		-o-transform: scaleX(0.7);
	}
	70% {
		margin-top: 60px;
		-o-transform: scaleX(0.8);
	}
	75% {
		margin-top: 50px;
		-o-transform: scaleX(0.9);
	}
	80% {
		margin-top: 40px;
		-o-transform: scaleX(1);
	}
	85% {
		margin-top: 30px;
	}
	90% {
		margin-top: 20px;
	}
	95% {
		margin-top: 10px;
	}
	100% {
		margin-top: 5px;
	}
}

@-ms-keyframes bounce {
	0% {
		margin-top: 5px;
	}
	5% {
		margin-top: 10px;
	}
	10% {
		margin-top: 20px;
	}
	15% {
		margin-top: 30px;
	}
	20% {
		margin-top: 40px;
	}
	25% {
		margin-top: 50px;
	}
	30% {
		margin-top: 60px;
	}
	35% {
		margin-top: 70px;
	}
	40% {
		margin-top: 80px;
	}
	45% {
		margin-top: 90px;
		-ms-transform: scaleX(1.1);
	}
	50% {
		margin-top: 100px;
		-ms-transform: scaleX(1.6);
	}
	55% {
		margin-top: 90px;
		-ms-transform: scaleY(0.5);
	}
	60% {
		margin-top: 80px;
		-ms-transform: scaleX(0.6);
	}
	65% {
		margin-top: 70px;
		-ms-transform: scaleX(0.7);
	}
	70% {
		margin-top: 60px;
		-ms-transform: scaleX(0.8);
	}
	75% {
		margin-top: 50px;
		-ms-transform: scaleX(0.9);
	}
	80% {
		margin-top: 40px;
		-ms-transform: scaleX(1);
	}
	85% {
		margin-top: 30px;
	}
	90% {
		margin-top: 20px;
	}
	95% {
		margin-top: 10px;
	}
	100% {
		margin-top: 5px;
	}
}

@keyframes bounce {
	0% {
		margin-top: 5px;
	}
	5% {
		margin-top: 10px;
	}
	10% {
		margin-top: 20px;
	}
	15% {
		margin-top: 30px;
	}
	20% {
		margin-top: 40px;
	}
	25% {
		margin-top: 50px;
	}
	30% {
		margin-top: 60px;
	}
	35% {
		margin-top: 70px;
	}
	40% {
		margin-top: 80px;
	}
	45% {
		margin-top: 90px;
		transform: scaleX(1.1);
	}
	50% {
		margin-top: 100px;
		transform: scaleX(1.6);
	}
	55% {
		margin-top: 90px;
		transform: scaleY(0.5);
	}
	60% {
		margin-top: 80px;
		transform: scaleX(0.6);
	}
	65% {
		margin-top: 70px;
		transform: scaleX(0.7);
	}
	70% {
		margin-top: 60px;
		transform: scaleX(0.8);
	}
	75% {
		margin-top: 50px;
		transform: scaleX(0.9);
	}
	80% {
		margin-top: 40px;
		transform: scaleX(1);
	}
	85% {
		margin-top: 30px;
	}
	90% {
		margin-top: 20px;
	}
	95% {
		margin-top: 10px;
	}
	100% {
		margin-top: 5px;
	}
}

@-webkit-keyframes maskMove {
	0% {
		margin: 0 0 0 -10px;
	}
	100% {
		margin: 0 0 0 300px;
	}
}

@-moz-keyframes maskMove {
	0% {
		margin: 0 0 0 -10px;
	}
	100% {
		margin: 0 0 0 300px;
	}
}

@-o-keyframes maskMove {
	0% {
		margin: 0 0 0 -10px;
	}
	100% {
		margin: 0 0 0 300px;
	}
}

@-ms-keyframes maskMove {
	0% {
		margin: 0 0 0 -10px;
	}
	100% {
		margin: 0 0 0 300px;
	}
}

@keyframes maskMove {
	0% {
		margin: 0 0 0 -10px;
	}
	100% {
		margin: 0 0 0 300px;
	}
}
