.epoch-modal {
    background-color:#d3d3d3;
    text-align: center;
}

#epoch-comments {margin-top: 25px; font-size: 90%; line-height: normal !important;}

.epoch-comment-author.vcard {
}

.epoch-comment-author-avatar img {
	width: 48px; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
	margin-right: 12px; 
}

#epoch-comments a.epoch-author-link { 
	font-weight: bold;
	line-height: normal !important;
}

#epoch-comments a.epoch-comment-link {
	font-size: 90%;
	color: #aaa;
	font-weight: normal;
}

.epoch-comment-meta {
	line-height: normal !important;
}

.epoch-comment-meta a {
	text-decoration: none !important;
}

div.epoch-comment-content {
	margin-left: 60px;
}

div.epoch-reply {
	margin-left: 60px;
}

article.epoch-comment-body {
	margin-bottom: 30px;
}

.epoch-child {
    margin-left: 60px;
}

ul.epoch-comment-actions {
	margin-left: 38px;
}

ul.epoch-comment-actions li {
	list-style: none;
	display: inline;
	font-size: 75%;
	margin: 0 !important;
	padding: 0 !important;
}

ul.epoch-comment-actions li a {
	color: #aaa;
}

.epoch-success {
    background-color: #FAFAD2;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

.epoch-failure {
    background-color: #CD5C5C;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

#prompt-comment-subscribe input {
	width: auto !important;
}


