<script id="epoch-comment-template" type="text/x-handlebars-template">

    <div id="comment-{{comment_ID}}" data-comment-id="{{comment_ID}}">
        <article id="div-comment-{{comment_ID}}" class="comment-body">
            <footer class="comment-meta">
                <div class="comment-author vcard">
                    {{epochLink comment_author_url author_avatar 'author_url_link_title' '_blank' 'nofollow'}}
                      {{epochLink comment_author_url comment_author 'author_url_link_title' '_blank' 'nofollow'}}
                </div><!-- .comment-author -->

                <div class="comment-metadata">
                    {{epochLink comment_link '<time datetime="comment_date">-comment_date-</time>' 'comment_link_title'}}
                </div><!-- .comment-metadata -->

                {{#if comment_approved}}

                {{else}}
                <p class="comment-awaiting-moderation">{{epochTranslation 'awaiting_moderation'}}</p>
                {{/if}}
            </footer><!-- .comment-meta -->

            <div class="comment-content">
                {{{comment_content}}}
            </div><!-- .comment-content -->

            {{#if reply_allowed}}
                <div class="reply">
                    <a class="epoch-comment-reply-link" href="#" data-comment-id="{{comment_ID}}">
                        {{epochTranslation 'reply'}}
                    </a>
                </div>
            {{/if}}

        </article><!-- .comment-body -->
    </div>

</script>


{{comment_author}}