#epoch-wrap {
    margin: 25px 0;
}

.epoch-modal {
    background-color:#d3d3d3;
    text-align: center;
}

#epoch-wrap ul, #epoch-wrap ol, #epoch-wrap li, #epoch-wrap div, #epoch-wrap article, #epoch-wrap footer, #epoch-wrap img, #epoch-wrap cite, #epoch-wrap b, #epoch-wrap input, #epoch-wrap input[type=text], #epoch-wrap input[type=email], #epoch-wrap input[type=url], #epoch-wrap p, #epoch-wrap img, #epoch-wrap .reply, #epoch-wrap a.epoch-author-link, #epoch-wrap a.epoch-comment-link   {
    all:unset;
    display: block;
}

@keyframes yellowfade {
    from { background: #FFFBCC; }
    to { background: transparent; }
}

/*top of the comments area*/
#epoch-wrap h3.comment-count-area {
    margin-bottom: 35px;
}

#epoch-wrap #epoch-load-all {
    float: right;
}

/*grid*/

#epoch-wrap ol.comment-list li.comment {

}

#epoch-wrap ol.comment-list li.comment li {
    margin-left: 65px;
}

#epoch-wrap article {
    display: block;
}

#epoch-wrap article.epoch-focus {
  animation: yellowfade 5s;
}

/*comment meta*/
#epoch-wrap div.comment-metadata a {
    color: gray !important;
    text-decoration: none !important;
}

#epoch-wrap b {
    display: inline;
}

#epoch-wrap b:after {
    content: " ·";
    font-weight: bold;
}

#epoch-wrap .says {
    display: none;
}

#epoch-wrap .comment-author, #epoch-wrap .comment-metadata {
    float: left;
    margin-right: 5px;
}

#epoch-wrap .comment-metadata {
    margin-right: 8px;
}

#epoch-wrap .comment-author a {
    text-decoration: none !important;
    font-weight: bold !important;
}

#epoch-wrap .comment-author img {
    float: left;
    margin-right: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 48px;
    height: 48px;
}

/*comment content*/
#epoch-wrap .comment-content {
    clear: left;
    position: relative;
    top: -20px;
}

#epoch-wrap .comment-body p {
    margin-bottom: 15px;
}

#epoch-wrap .comment-body p, #epoch-wrap .reply {
    display: block;
    margin-left: 63px;
}

#epoch-wrap .reply {
    position: relative;
    top: -20px;
}

#epoch-wrap .reply a {
    padding: unset;
    margin: unset;
    border: unset;
    position: unset;
    font: unset;
    text-decoration: none !important;
    font-size: 90% !important;
}

#epoch-wrap .comment-content p:last-child {
    margin-bottom: 0;
}

.comment-count-area a {
    float: right !important; 
    display: block !important;
    font-size: 75% !important;
    text-decoration: underline !important; 
}

a.comment-reply-link { 
    background: none;
    border: none;
    color: gray;
    padding: 0; 
    font-size: 100%; 
    float: none;
    margin: 0;
    line-height: normal; 
    display: inline;
} 

/*#epoch-wrap ol.comment-list li.comment article p.comment-awaiting-moderation {*/

/*}*/


#epoch-wrap ol.children .epoch-comment-author-avatar img {
    width: 42px;
    height: 42px;
}

#epoch-wrap ol.children div.comment-body, ol.children .reply {
    margin-left: 55px;
}



#epoch-wrap a.epoch-author-link {
    font-weight: bold;
    line-height: normal;
}

#epoch-wrap a.epoch-comment-link {
    font-size: 90%;
    color: #aaa;
    font-weight: normal;
}

#epoch-wrap .epoch-comment-meta {
    line-height: normal ;
}

#epoch-wrap .epoch-comment-meta a {
    text-decoration: none !important;
}

#epoch-wrap div.epoch-comment-content {
    margin-left: 60px;
}

#epoch-wrap div.epoch-comment-content p {
    margin-bottom: 10px;
}

#epoch-wrap article.epoch-comment-body {
    margin: 0 0 25px 0;
    border: none;
    padding: 0;
}

#epoch-wrap article.bypostauthor {
    padding: 15px 15px 10px 15px;
    background: url(../../../assets/image/et.png);
    margin-left: -15px;
}

/* comment form*/

.epoch-child div.comment-respond, #epoch-wrap #respond {
    margin-left: 65px;
    font-size: 85%;
    line-height: normal; 
    margin-bottom: 35px;
}

#epoch-wrap p.comment-form-author {
    clear: left;
}


#epoch-wrap div.comment-respond p.comment-form-author,#epoch-wrap div.comment-respond p.comment-form-email,#epoch-wrap div.comment-respond p.comment-form-url {
    float: left;
    width: 32%;
    margin: 10px 1% 0 0;
    padding: 0;
}

#epoch-wrap div.comment-respond p.comment-form-url {
    margin-right: 0;
}


.comment-form-author input,.comment-form-url input,.comment-form-email input {
    width: 96% !important;
    margin-bottom: 15px !important;
    padding: 5px !important;
    background: #fff !important;
    border: 1px solid #ddd !important;
    color: #383838 !important;
    font-size: 100% !important;
}

.comment-form-url input {
    width:100% !important;
}

#epoch-wrap div.comment-respond p.comment-form-comment {
    clear: left;
    width: auto;
    margin: 0 0 10px 0;
    padding: 0px;
    width: 98%;
}

#epoch-wrap textarea, textarea#comment {
    color: #383838;
    background: #fff;
    width: 98%;
    border: 1px solid #ddd;
    padding: 2%;
}


#epoch-wrap p.logged-in-as {
    float: right;
    font-size: 85%;
}

#epoch-wrap #comment {
    min-height: 100px;

}

#epoch-wrap div.comment-respond p.comment-notes {
    margin-bottom: 10px;
    text-align: left;
} 

#epoch-wrap p.form-submit {
    padding: 0;
    margin: 0;
}

#epoch-wrap p.form-submit input {
    margin: 0;
}

#epoch-wrap input#submit:disabled {
    color: #ABABAB;
    background: #F5F5F5;
    cursor: not-allowed;
}

#epoch-wrap input#submit:disabled:hover {
    cursor: not-allowed;
}

#commentform textarea, #commentform input {
    border: 1px solid #ddd;
    background: white;
    margin-bottom: 15px;
}

#epoch-wrap input#submit {
    color: inherit;
    width: auto;
}

/*pagination*/

nav#epoch-navigation {
    margin: 15px 0;
    min-height: 30px;
}

.epoch-nav-previous {
    display: block;
    float: right;
}



/*fixes for internet explorer*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
#epoch-wrap .comment-metadata {
    margin-top: 4px;
}

#epoch-wrap .comment-body p, #epoch-wrap .reply {
    margin-left: 0;
}
}