#epoch-wrap {
    margin: 25px 0;
}

.epoch-modal {
    background-color:#d3d3d3 !important;
    text-align: center !important;
}

#epoch-wrap ul, #epoch-wrap ol, #epoch-wrap li, #epoch-wrap div, #epoch-wrap article, #epoch-wrap footer, #epoch-wrap img, #epoch-wrap cite, #epoch-wrap b, #epoch-wrap input[type=text], #epoch-wrap input[type=email], #epoch-wrap input[type=url], #epoch-wrap p   {
    all:unset;
    display: block;
}



@keyframes yellowfade {
    from { background: yellow; }
    to { background: transparent; }
}

/*top of the comments area*/
#epoch-wrap h3.comment-count-area {
    margin-bottom: 35px;
}

#epoch-wrap #epoch-load-all {
    float: right;
}

/*grid*/

#epoch-wrap ol.comment-list li.comment {

}

#epoch-wrap ol.comment-list li.comment li {
    margin-left: 65px;
}

#epoch-wrap article {
    display: block;
}

#epoch-wrap article.epoch-focus {
  animation: yellowfade 5s;
}


/*comment meta*/


#epoch-wrap div.comment-metadata a {
    color: gray;
    text-decoration: none;
}

#epoch-wrap b {
    display: inline;
}

#epoch-wrap b:after {
    content: " ·";
    font-weight: bold;
}

#epoch-wrap .says {
    display: none;
}

#epoch-wrap .comment-author, #epoch-wrap .comment-metadata {
    float: left;
    margin-right: 5px;
    border: 1px solid red;
}

#epoch-wrap .comment-author a {
    text-decoration: none;
    font-weight: bold;
}

#epoch-wrap .comment-author img {
    float: left;
    margin-right: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 48px;
    height: 48px;
}

/*comment content*/
#epoch-wrap .comment-content {
    clear: left;
    border: 1px solid blue;
    position: relative;
    top: -20px;
}

#epoch-wrap .comment-body p {
    margin-bottom: 15px;
}

#epoch-wrap .comment-body p, #epoch-wrap .reply {
    display: block;
    margin-left: 63px;
}

#epoch-wrap .reply {
    position: relative;
    top: -20px;
}

#epoch-wrap .reply a {
    padding: unset;
    margin: unset;
    border: unset;
    position: unset;
    font: unset;
    text-decoration: none;
    font-size: 90%;
}

#epoch-wrap .comment-content p:last-child {
    margin-bottom: 0;
}

/*#epoch-wrap ol.comment-list li.comment article p.comment-awaiting-moderation {*/

/*}*/


#epoch-wrap ol.children .epoch-comment-author-avatar img {
	width: 42px !important;
	height: 42px !important;
}

#epoch-wrap ol.children div.comment-body, ol.children .reply {
	margin-left: 55px !important;
}



#epoch-wrap a.epoch-author-link { 
	font-weight: bold !important;
	line-height: normal !important;
}

#epoch-wrap a.epoch-comment-link {
	font-size: 90% !important;
	color: #aaa !important;
	font-weight: normal !important;
}

#epoch-wrap .epoch-comment-meta {
	line-height: normal !important;
}

#epoch-wrap .epoch-comment-meta a {
	text-decoration: none !important;
}

#epoch-wrap div.epoch-comment-content {
	margin-left: 60px !important;
}

#epoch-wrap div.epoch-comment-content p {
	margin-bottom: 10px !important;
}

#epoch-wrap article.epoch-comment-body {
	margin: 0 0 25px 0 !important;
	border: none !important;
	padding: 0 !important;
}

#epoch-wrap article.bypostauthor {
    padding: 15px 15px 10px 15px !important;
    background: url(../../../assets/image/et.png) !important;
    margin-left: -15px !important;
}
